<!DOCTYPE html>
<html>
  <head>
    <meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
      <title>rahul keerthi</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
      <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-mutate-approach="sync"></script>
    </head>
    <body>
      <%= render 'shared/navbar' %>
      <div class="container">
        <%= render 'shared/flashes' %>
      </div>
      <%= yield %>
    </body>
  </html>
